@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LogoPageLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/resetPassword")
}
@section rightSideContent
{
    <div class="circled-container">
        <h2>
            Reset Password
        </h2>
        @using (@Html.BeginForm("ResetPassword", "Account"))
        {
            <div>
                <label>
                    Specify your registration email:</label>
            </div>
            <div>
                <input type="text" name="email" />
            </div>
            <input type="submit" value="" />
        }
    </div>
}
